@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@import "@splidejs/splide/dist/css/splide.min.css";

@theme {
  --font-quicksand: "Quicksand", sans-serif;

  --animate-arriba: arriba 1s ease-in-out;
  --animate-abajo: abajo 1s ease-in-out;
  --animate-izquierda: izquierda 1s ease-in-out;

  @keyframes arriba {
    0% {
      transform: translateY(-800px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes abajo {
    0% {
      transform: translateY(800px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

@keyframes izquierda {
  0% {
    transform: translateX(5000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.splide__arrow {
  @apply bg-stone-400;
}

.splide__arrow svg {
  @apply fill-amber-50;
}

.splide__arrow:hover {
  @apply bg-amber-600;
}

.splide__pagination__page {
  @apply bg-stone-400;
}

.splide__pagination__page.is-active {
  @apply bg-amber-600;
}
