---

---

<footer class="flex flex-col gap-2 min-md:flex-row px-5 py-2 justify-between items-center font-semibold">
    <p>© 2025 Pan Aroma. Todos los derechos reservados.</p>
    <p>Hecho con ❤️ en Lima, Perú</p>
</footer>