---
import { Image } from "astro:assets";
import Logo from "../assets/logo.avif";
---

<header class="flex flex-row items-center justify-center gap-1.5 h-[5vh]">
  <h1
    class="text-4xl max-xl:text-3xl max-sm:text-2xl text-center font-semibold ">
    Pan Aroma
  </h1>
  <Image
    src={Logo}
    alt="Logo"
    class="h-[40px] w-[40px] max-xl:h-[36px] max-xl:w-[36px] max-sm:h-[32px] max-sm:w-[32px] drop-shadow-sm"
    loading="eager"
  />
</header>
