---
import { Image } from "astro:assets";
import Baguette from "../assets/baguette-frances-en-rodajas-sobre-una-tabla-de-madera.jpg";
import FondoPantalla from "../assets/composicion-de-primer-plano-de-deliciosos-productos-para-el-desayuno.jpg"
---

<section
  id="nuestros-productos"
  class="min-h-[50vh] flex flex-col relative"
>
    <div class="absolute bg-stone-900 opacity-80 w-full h-full top 0 left-0 z-20"></div>

    <Image src={FondoPantalla} alt="Productos para el desayuno" class="absolute z-10 w-full h-full object-cover"/>

  <h2 class="text-white text-4xl max-sm:text-2xl pt-10 pb-5 px-5 font-bold text-center relative z-30">
    Descubre nuestra variedad de panes, postres y acompañamientos
  </h2>

  <div
    id="carrusel"
    class="grid max-sm:grid-rows-3 max-sm:gap-[calc((100vw-80vw)/2)] min-sm:grid-cols-3 min-sm:px-[calc((100vw-90vw)/4)] min-sm:gap-[calc((100vw-90vw)/4)] py-10 relative z-30"
  >
    <div
      class="min-sm:min-w-[30vw] max-sm:max-w-[80vw] max-sm:mx-auto h-96 bg-amber-50 flex flex-col overflow-hidden rounded-2xl shadow shadow-amber-100"
    >
      <div class="w-full h-[40%]">
        <Image
          src={Baguette}
          alt="Pan de Baguette"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full h-[60%] p-5 flex flex-col justify-between">
        <h3 class="text-3xl text-amber-600 font-light uppercase text-left">Pan Baguette</h3>
        <p class="line-clamp-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          et earum quis dolores facere, dicta velit cumque minus minima, tempora
          quia. Cum debitis eos fugit magnam quas! Quo, corporis eius.
        </p>
        <div class="flex justify-end">
          <a href="" class="py-2 px-4 bg-stone-900 rounded-lg text-amber-600 transition ease-in-out duration-100 hover:scale-105">Comprar ahora</a>
        </div>
      </div>
    </div>

    <div
      class="min-sm:min-w-[30vw] max-sm:max-w-[80vw] max-sm:mx-auto h-96 bg-amber-50 flex flex-col overflow-hidden rounded-2xl shadow shadow-amber-100"
    >
      <div class="w-full h-[40%]">
        <Image
          src={Baguette}
          alt="Pan de Baguette"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full h-[60%] p-5 flex flex-col justify-between">
        <h3 class="text-3xl text-amber-600 font-light uppercase text-left">Pan Baguette</h3>
        <p class="line-clamp-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          et earum quis dolores facere, dicta velit cumque minus minima, tempora
          quia. Cum debitis eos fugit magnam quas! Quo, corporis eius.
        </p>
        <div class="flex justify-end">
          <a href="" class="py-2 px-4 bg-stone-900 rounded-lg text-amber-600 transition ease-in-out duration-100 hover:scale-105">Comprar ahora</a>
        </div>
      </div>
    </div>

   <div
      class="min-sm:min-w-[30vw] max-sm:max-w-[80vw] max-sm:mx-auto h-96 bg-amber-50 flex flex-col overflow-hidden rounded-2xl shadow shadow-amber-100"
    >
      <div class="w-full h-[40%]">
        <Image
          src={Baguette}
          alt="Pan de Baguette"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full h-[60%] p-5 flex flex-col justify-between">
        <h3 class="text-3xl text-amber-600 font-light uppercase text-left">Pan Baguette</h3>
        <p class="line-clamp-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          et earum quis dolores facere, dicta velit cumque minus minima, tempora
          quia. Cum debitis eos fugit magnam quas! Quo, corporis eius.
        </p>
        <div class="flex justify-end">
          <a href="" class="py-2 px-4 bg-stone-900 rounded-lg text-amber-600 transition ease-in-out duration-100 hover:scale-105">Comprar ahora</a>
        </div>
      </div>
    </div>
  </div>
</section>
