<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="pan-aroma-landing-page/favicon.png" type="image/png">
		<title>Pan Aroma</title>
	</head>
	<body class="bg-amber-50 text-stone-700 font-quicksand font-normal">
		<slot />
	</body>
</html>

